/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

:root {
    /* fuentes */
    --nav1_5:  'DM Sans', sans-serif;
    --titulo_principal: 'Signika', sans-serif;
    --titulo_principal_amarillo: 'Segoe Print', sans-serif;
    --subtitulos: 'Roboto', sans-serif;
    /* coloes */
    --amarillo: #FACC0A;
    --negro: #333333;
    --fondo_naranja_btns: #E94438;
    --fondo_gris_btns: #FDFDFF;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(./img/fondo.svg)  ;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: var(--titulo_principal_amarillo) ;
}
.contenedor_general_u12{
    width: 100%;
    height: 80vh;
}
.contededor_sup_u12{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    justify-content: space-between;
    justify-content: space-around; 
}
    .contededor_sup_u12 section{
        font-family: var(--titulo_principal);
        font-style: normal;
        font-weight: 400;
        font-size: 40.4372px;
        line-height: 123.19%;
        text-align: center;
        letter-spacing: 0.005em;
        color: #000000;
        margin-left: 500px;
    }
    .contededor_sup_u12 img{
        margin-right: 200px;

    }
.contededor_inf_u12{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .contededor_inf_u12 .hijo2{
        width: 33%;
    }
