/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

:root {
    /* fuentes */
    --nav1_5:  'DM Sans', sans-serif;
    --titulo_principal: 'Signika', sans-serif;
    --titulo_principal_amarillo: 'Segoe Print', sans-serif;
    --subtitulos: 'Roboto', sans-serif;
    /* coloes */
    --amarillo: #FACC0A;
    --negro: #333333;
    --fondo_naranja_btns: #E94438;
    --fondo_gris_btns: #FDFDFF;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(./img/fondo.svg)  ;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: var(--titulo_principal_amarillo) ;
}

.contenedor_genera_u3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center; 
}
.logo_poweroros{
    width: 126px;
    height: 126px;
    position: fixed;
    top: 3%;
    left: 3%;
}

.seccion_izq_u3{
    width: 45%;
}
    .seccion_izq_u3 img{
    }

.seccion_der_u3{
    width: 45%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
    .hijo1{
        width: 80%;
        height: 10vh;
    }
        .hijo1 h1{
            font-family: var(--titulo_principal);
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 123.19%;
            letter-spacing: 0.005em;
            color: var(--negro);
        }

    .hijo2{
        width: 80%;
        height: 10vh;
    }
        .hijo2 h1{
            font-family: var(titulo_principal_amarillo);
            font-style: normal;
            font-weight: 400;
            font-size: 50.1802px;
            line-height: 123.19%;
            letter-spacing: 0.005em;
            color: var(--amarillo);  
        }

    .hijo3{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center; 
        background: #FFFFFF;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: none;
    }
        .hijo3 p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.75);
            flex: none;
        }
        .hijo3 img{
            margin-right: 20px;
        }
    .hijo4{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center; 
        background: #FFFFFF;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: none;   
        
    }
        .hijo4 p{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.75);
            flex: none;
        }
        .hijo4 img{
            margin-right: 20px;
    }
    .hijo5{
        width: 80%;
        height: 10vh;
        background: #F2F2F2;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 11px 33px;
        gap: 10px;
    }
        .hijo5 p{
            font-family: var(--nav1_5);
        }
        .hijo5 input{
            border: none;
            outline: none;
            background-color: #F2F2F2;
        }
        .hijo6{
            width: 80%;
            height: 10vh;
            background: #F2F2F2;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 11px 33px;
            gap: 10px;
        }
            .hijo6 p{
                font-family: var(--nav1_5);
            }
            .hijo6 input{
                border: none;
                outline: none;
                background-color: #F2F2F2;
            }
            .hijo6 .img1{
                margin-left: 150px
            }
    .hijo7{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        .hijo7 .p1{
            font-family: var(--subtitulos);
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;

            color: #000000;
        }
        .hijo7 .p2{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.65);
            text-decoration: none;
        }
    .hijo8{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        .hijo8 input{
            width: 215px;
            height: 51px;   
            background: #E94438;
            border-radius: 31px;
            color: #F2F2F2;
            border: none;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            
        }
    .hijo9{
        width: 80%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .hijo9 p{
            font-family: var(--subtitulos);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #000000;           
        }
        .hijo9 a{
            font-family: var(--subtitulos);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #E94438; 
            text-decoration: none;          
        }