/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

:root {
    /* fuentes */
    --nav1_5:  'DM Sans', sans-serif;
    --titulo_principal: 'Signika', sans-serif;
    --titulo_principal_amarillo: 'Segoe Print', sans-serif;
    --subtitulos: 'Roboto', sans-serif;
    /* coloes */
    --amarillo: #FACC0A;
    --negro: #333333;
    --fondo_naranja_btns: #E94438;
    --fondo_gris_btns: #FDFDFF;
}
.bordeJaime{
    border: solid red 3PX;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(./images/fondo.svg)  ;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: var(--titulo_principal_amarillo) ;
}

.contenedor_general_u6{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;

}
.logo_poweroros{
    width: 126px;
    height: 126px;
    position: fixed;
    top: 3%;
    left: 3%;
}
.seccion_izq_u6{
    width: 450px;
}
.seccion_izq_u6 img{
    width: 100%;
}

.seccion_der_u6{
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.hijo1{
    width: 80%;
    height: 10vh;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-size: 40.4372px;
    line-height: 123.19%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}
.hijo2{
    width: 80%;
    height: 10vh;
    margin-left: 140px;
    margin-top: -80px;
}
    .hijo2 .subHijo2{
        width: 46px;
        height: 46px;
        background-color: #2C2A29;
        margin-top: 2px;
        margin-left: 2px;
    }
.hijo3{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    .hijo3 .subHijo3 .hijoSubHijo3-1{
        font-family: var(--nav1_5);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
    }
    .hijo3 .subHijo3 .hijoSubHijo3-2{
        font-family: var(--subtitulos);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #61656F;
    }
    .hijo3 .subHijo3 .hijoSubHijo3-3{
        font-family: var(--subtitulos);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #01C550;
    }
    .hijo3 .subHijo3-2 input{
        width: 205px;
        height: 51px;
        background: #E94438;
        border-radius: 31px;
        border: none;
        font-family: var(--subtitulos) ;
        color: #FDFDFF;
        font-family: var(--nav1_5);
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        /* margin-left: 30%; */
    }

    .hijo4{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .hijo4 .subHijo4 .hijoSubHijo4-1{
            font-family: var(--nav1_5);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
        }
        .hijo4 .subHijo4 .hijoSubHijo4-2{
            font-family: var(--subtitulos);
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #61656F;
        }
        .hijo4 .subHijo4 .hijoSubHijo4-3{
            font-family: var(--subtitulos);
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #01C550;
        }
        .hijo4 .subHijo4-2 input{
            width: 215px;
            height: 51px;
            background: #E94438;
            border-radius: 31px;
            border: none;
            color: #FDFDFF;
            font-family: var(--nav1_5);
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            /* margin-left: 160px; */
        }
.hijo5{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
}
    .hijo5 p{
        font-family: var(--subtitulos);
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .hijo5 .precio{
        font-family: var(--subtitulos);
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        color: #01C550;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    @media only screen and (max-width:500px) {

        .logo_poweroros{
            width: 76px;
            height: 126px;
            position: fixed;
            top: 3%;
            left: 3%;
        }

        .seccion_izq_u6 {
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .seccion_izq_u6 img{
            width: 150px;
        }
        .hijo3{
            width: 100%;
            height: 10vh;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }
            .hijo3 img{
                width: 50px;
                
            }
            .hijo3 .subHijo3 .hijoSubHijo3-1{
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 26px;
                color: #000000;
            }
            .hijo3 .subHijo3 .hijoSubHijo3-2{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 16px;
                color: #61656F;
            }
            .hijo3 .subHijo3 .hijoSubHijo3-3{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 21px;
                color: #01C550;
            }
            .hijo3 .subHijo3-2 input{
                width: 160px;
                height: 51px;
                background: #E94438;
                border-radius: 31px;
                border: none;
                font-family: var(--subtitulos) ;
                color: #FDFDFF;
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 33px;
            }

        .hijo4{
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
            .hijo4 img{
                width: 50px;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-1{
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 26px;
                color: #000000;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-2{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 16px;
                color: #61656F;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-3{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 21px;
                color: #01C550;
            }
            .hijo4 .subHijo4-2 input{
                width: 160px;
                height: 51px;
                background: #E94438;
                border-radius: 31px;
                border: none;
                color: #FDFDFF;
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 33px;
                /* margin-left: 160px; */
            }    

    }


    @media only screen and (max-width:830px) {

        .seccion_izq_u6{
            width: 350px;
        }
        .hijo3{
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
            .hijo3 img{
                width: 50px;
            }
            .hijo3 .subHijo3 .hijoSubHijo3-1{
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 26px;
                color: #000000;
            }
            .hijo3 .subHijo3 .hijoSubHijo3-2{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 16px;
                color: #61656F;
            }
            .hijo3 .subHijo3 .hijoSubHijo3-3{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 21px;
                color: #01C550;
            }
            .hijo3 .subHijo3-2 input{
                width: 160px;
                height: 51px;
                background: #E94438;
                border-radius: 31px;
                border: none;
                font-family: var(--subtitulos) ;
                color: #FDFDFF;
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 33px;
            }

        .hijo4{
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
            .hijo4 img{
                width: 50px;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-1{
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 26px;
                color: #000000;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-2{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 16px;
                color: #61656F;
            }
            .hijo4 .subHijo4 .hijoSubHijo4-3{
                font-family: var(--subtitulos);
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 21px;
                color: #01C550;
            }
            .hijo4 .subHijo4-2 input{
                width: 160px;
                height: 51px;
                background: #E94438;
                border-radius: 31px;
                border: none;
                color: #FDFDFF;
                font-family: var(--nav1_5);
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 33px;
                /* margin-left: 160px; */
            }    

 

    }


    @media only screen and (max-width:653px) {

        .seccion_izq_u6{
            width: 250px;
        }

    }